.nameForm {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-weight: 100;
  border-bottom: solid #1B4D3E 0.5px;
  padding: 10px;
  max-width: 500px;

  &__input {
    border: solid transparent 1px;
    background-color: #4FFFB0;
    color: #1B4D3E;
    font-weight: 100;
    opacity: 0.8;
  }
}