@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  margin: 10px;
}

.endButton {
  background-color: #98FB98;
  border-style: none;
  padding: 5px;
  opacity: 0.8;
  border-radius: 2px;
}